<!doctype html>
<html>
   <body>
     <h1>Filter List !!</h1>
     <br>
     <form action="{{ url_for('filterProducts')}}" method = "post">
       <label>Url:</label><input type="text" name="url" placeholder="URL" required="required"/><br>
            <label for="filters">Choose a filter:</label>
            <select id="filters" name="filters">
              <option value="gender">Gender</option>
              <option value="sizes">Size</option>
              <option value="category">Category</option>
              <option value="all">All</option>
            </select><br>
            <label> Keyword</label><input type="text" name="keyword"/><br><br>
            <button type="submit" class="btn btn-primary btn-block btn-large">Filter</button>
     </form>
     <br>
     <br>
     <br>
      <a href = "/">Go back to home page</a>
   </body>
</html>
